/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: #4d4d4d;
  background-image: radial-gradient(circle, #666666 0%, transparent 74%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  color: #cccccc;
}

main section {
  width: 100%;
  margin: 0;
}

@media (min-width: 992px) {
  main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

main section .wrapper {
  background: #262626;
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  main section .wrapper {
    width: 79%;
    box-shadow: inset 5px 5px 6px 0px #1f1f1f;
    margin-bottom: 10rem;
    border-radius: 10px;
  }
}

main #projectSection .wrapper {
  background: #2e2e2e;
}

@media (min-width: 992px) {
  main #projectSection .wrapper {
    background: #262626;
  }
}

.anchor {
  position: relative;
  top: -35px;
  left: 0;
}

@media (min-width: 992px) {
  .anchor {
    top: -160px;
  }
}

.brandTitle {
  font-size: 2.4rem;
  font-weight: 500;
  color: #c4ff00;
  text-transform: uppercase;
}

.brandTitle span {
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

#additionalInfo h2,
#skills h2,
#aboutSection h2,
#skillsSection h2,
#projectSection h2,
#contactSection h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #c4ff00;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}

#aboutSection h3,
#skillsSection h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e1ff80;
  text-transform: uppercase;
  margin-top: 2rem;
  text-align: center;
}

#aboutSection p,
#skillsSection p {
  margin-bottom: 5rem;
  font-size: 1.8rem;
  color: #cccccc;
  font-weight: 500;
  text-align: justify;
}

@media (min-width: 768px) {
  #aboutSection p,
  #skillsSection p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  #aboutSection p,
  #skillsSection p {
    font-size: 2.4rem;
  }
}

.formLabel {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b3b3b3;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: #171717;
  color: #cccccc;
  width: 100%;
  z-index: 2;
  box-shadow: 2px 2px 10px 0px black;
}

@media (min-width: 992px) {
  #mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    transform: translateY(-70px);
    transition: all 0.2s;
    overflow: hidden;
    z-index: 1;
  }
  #mainNav.visable {
    transform: translateY(0px);
    display: flex;
    transition: all 0.2s;
  }
}

#mainNav .brandTitle {
  padding: 1rem;
  width: 100%;
  background: #171717;
  z-index: 1;
}

@media (min-width: 992px) {
  #mainNav .brandTitle {
    box-shadow: none;
  }
}

#mainNav .toggleBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: 22px;
  z-index: 99;
}

@media (min-width: 992px) {
  #mainNav .toggleBtn {
    display: none;
  }
}

#mainNav .toggleBtn .bar {
  height: 3px;
  width: 100%;
  background-color: #b3b3b3;
  border: 10px;
}

#mainNav .toggleBtn .bar.barOneClose {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  transition: ease-in-out transform 0.25s;
  top: 10px;
  position: absolute;
}

#mainNav .toggleBtn .bar.barTwoClose {
  opacity: 0;
  transition: ease-in-out opacity 0.2s;
}

#mainNav .toggleBtn .bar.barThreeClose {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  transition: ease-in-out transform 0.25s;
  top: 10px;
  position: absolute;
}

#mainNav .toggleBtn:hover .bar {
  background: #e1ff80;
  transition: ease-in-out 0.25s;
}

#mainNav .navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 56px;
  width: 100%;
  background: #171717;
  box-shadow: 2px 2px 10px 0px #1f1f1f;
  transform: translateY(-110vh);
  transition: transform 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (min-width: 992px) {
  #mainNav .navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    transform: none;
    background: rgba(31, 31, 31, 0);
    margin-right: 5%;
    height: auto;
    box-shadow: none;
  }
}

#mainNav .navbarLinks.active {
  display: flex;
  transform: translateY(0);
  transition: 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#mainNav .navbarLinks .navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 0 0;
  width: 100%;
  height: 80%;
}

@media (min-width: 992px) {
  #mainNav .navbarLinks .navList {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-bottom: 0;
    padding: 0;
  }
}

#mainNav .navbarLinks .navLinks {
  list-style: none;
}

@media (min-width: 992px) {
  #mainNav .navbarLinks .navLinks {
    margin-left: 10px;
    text-align: center;
    width: 100%;
  }
  #mainNav .navbarLinks .navLinks a {
    font-size: 1.2rem;
  }
}

#mainNav .navbarLinks .navLinks a {
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #cccccc;
}

#mainNav .navbarLinks .navLinks a:hover {
  color: #e1ff80;
  background: #262626;
  transition: 0.25s ease-in-out;
}

#mainNav .navbarLinks .navLinks .contact {
  padding: 0.5rem 2rem;
  background: #dd6d40;
  border-radius: 5px;
}

#mainNav .navbarLinks .navLinks .contact:hover {
  color: #dd6d40;
  background: #cccccc;
}

@media (min-width: 992px) {
  #coverHeader .navLinksNav {
    width: 100%;
    display: block;
    text-align: right;
    margin: -15% 20% 10% 0;
  }
  #coverHeader .navLinksNav .navLinksHeader {
    display: inline-block;
    margin-left: 20px;
  }
  #coverHeader .navLinksNav .navLinksHeader a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  #coverHeader .navLinksNav .navLinksHeader a:hover {
    color: #e1ff80;
    transition: 0.25s ease-in-out;
  }
  #coverHeader .navLinksNav .navLinksHeader a.contact {
    padding: 0.5rem 2rem;
    background: #dd6d40;
    border-radius: 5px;
  }
  #coverHeader .navLinksNav .navLinksHeader a.contact:hover {
    color: #dd6d40;
    background: #cccccc;
  }
}

#coverHeader {
  display: none;
}

@media (min-width: 992px) {
  #coverHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  #coverHeader #coverHeaderTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #coverHeader #coverHeaderTitle h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: #c4ff00;
    line-height: .8;
  }
  #coverHeader #coverHeaderTitle h1 span {
    font-size: inherit;
    font-weight: 700;
    color: #c4ff00;
  }
  #coverHeader #coverHeaderTitle h3 {
    text-transform: uppercase;
    color: #cccccc;
    font-size: 2.02rem;
    font-weight: 700;
    line-height: 3em;
    margin-top: -1.6rem;
  }
}

#mobileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#999999, #262626);
}

@media (min-width: 992px) {
  #mobileHeader {
    display: none;
  }
}

#mobileHeader h1,
#mobileHeader h1 span {
  font-size: 15vw;
  font-weight: 700;
  color: #c4ff00;
  text-transform: uppercase;
  line-height: 13vw;
}

#mobileHeader h1 span {
  font-weight: 500;
  color: #cccccc;
}

#mobileHeader h3 {
  font-size: 2.42vw;
  font-weight: 700;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

.boxIcons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.boxIcons a {
  text-decoration: none;
  color: #cccccc;
}

.boxIcons a:hover {
  color: #e1ff80;
  transition: ease-in-out 0.25s all;
}

.boxIcons a .bx {
  font-size: 3rem;
  margin-left: 0.5rem;
}

@media (min-width: 992px) {
  .boxIcons {
    display: none;
  }
}

.bx:hover {
  color: #dd6d40;
  transition: 0.25s ease-in-out;
}

.bx {
  font-size: 5.4rem;
  margin: 1.2rem;
}

.bx[data-tooltip] {
  position: relative;
  justify-content: center;
  background: none;
  transition: 0.25s all ease-in-out;
}

.bx[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: -40%;
  width: 96px;
  margin-top: 2px;
  padding: 2px;
  background: #1d1d1d;
  color: white;
  border-radius: 4px;
  text-align: center;
  transition: 0.25s all ease-in-out;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
}

.projectBoxIcons {
  position: absolute;
  bottom: 20px;
  width: 200px;
}

.projectBoxIcons .bx {
  margin: 0;
  font-size: 4.6rem;
}

.projectBoxIcons .bx:hover:after {
  top: -50%;
}

@media (min-width: 992px) {
  .projectBoxIcons {
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #gitIn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 10px;
    right: 2%;
    width: 7%;
    transition: ease-in-out top 0.2s;
  }
  #gitIn.scroll {
    top: 70px;
    transition: ease-in-out top 0.25s;
  }
  #gitIn a {
    text-decoration: none;
    color: inherit;
  }
  #gitIn a .bx {
    font-size: 4rem;
    display: block;
    margin: 0.5rem;
    text-decoration: none;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  #gitIn a .bx {
    font-size: 4rem;
  }
}

#aboutSection {
  margin: 0;
}

@media (min-width: 992px) {
  #aboutSection {
    margin: 0 auto;
  }
}

#aboutSection hr {
  display: none;
}

@media (min-width: 992px) {
  #aboutSection hr {
    width: 64%;
    height: 2px;
    color: #c4ff00;
    position: relative;
    top: 0;
    margin: 0 0 3rem 0;
    border-radius: 50%;
    opacity: 0.75;
  }
}

#aboutSection #introduction,
#aboutSection #skills {
  padding: 0 3rem;
}

@media (min-width: 992px) {
  #aboutSection #introduction,
  #aboutSection #skills {
    padding: 0 9rem;
  }
}

@media (min-width: 1200px) {
  #aboutSection #introduction {
    border-right: 0.15rem solid #1f1f1f;
  }
}

#aboutSection #skills .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

#aboutSection #skills .future {
  color: #b3b3b3;
}

#aboutSection #skills .inProgress {
  color: gray;
}

#aboutSection #skills .future {
  color: #4d4d4d;
}

#projects {
  width: 90%;
}

@media (min-width: 1200px) {
  #projects {
    width: 100%;
  }
}

#projects .cardContainer {
  justify-content: space-evenly;
}

#projects .cardContainer.row {
  margin: 0;
}

#projects .cardContainer .card {
  border-radius: 0.6rem;
  margin-bottom: 3rem;
  background-color: #1f1f1f;
  padding: 1rem;
}

@media (min-width: 992px) {
  #projects .cardContainer .card {
    background-color: #1f1f1f;
  }
}

#projects .cardContainer .card .card-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #e1ff80;
  text-transform: uppercase;
}

#projects .cardContainer .card .card-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b3b3b3;
}

@media (min-width: 992px) {
  #projects .cardContainer .card .card-text {
    height: 19rem;
  }
}

@media (min-width: 1200px) {
  #projects .cardContainer .card .card-text {
    height: 12rem;
  }
}

#projects .cardContainer .card .skillUsed {
  text-align: center;
  margin: 2rem 0;
}

#projects .cardContainer .card .skillUsed .bx {
  font-size: 3.8rem;
  margin: 0;
  color: #4d4d4d;
}

#projects .cardContainer .card .skillUsed .bx[data-tooltip]:hover:after {
  content: none;
}

#projects .cardContainer .card .btns {
  text-align: center;
}

#projects .cardContainer .card .btns a {
  font-size: 1.4rem;
  background-color: #dd6d40;
  border-color: #e07a52;
  margin: 0 0.2rem;
}

#projects .cardContainer .card .btns a:hover {
  background-color: #c75223;
}

#projects .cardContainer .card .btns a.isDisabled {
  cursor: not-allowed;
  background-color: #9c401c;
  color: #999999;
}

#contactForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto 5rem auto;
  width: 80%;
  border-bottom: 0.1rem solid #171717;
}

@media (min-width: 576px) {
  #contactForm {
    width: 60%;
  }
}

@media (min-width: 992px) {
  #contactForm {
    width: 75%;
    margin-bottom: 0;
    border: none;
  }
}

#contactForm .nameEmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 992px) {
  #contactForm .nameEmail {
    flex-direction: row;
    margin-bottom: 1rem;
  }
}

#contactForm .nameEmail .formDivider {
  display: inline-block;
  width: 100%;
}

@media (min-width: 992px) {
  #contactForm .nameEmail .formDivider {
    width: 45%;
  }
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  font-size: 1.6rem;
  font-weight: 700;
  color: #262626;
  padding: 1rem;
  width: 100%;
  margin: 0.5rem auto 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
  background-color: #f3ffcc;
  transition: all 0.1s ease-in-out;
}

#contactForm label {
  color: #e1ff80;
}

#contactForm textarea {
  height: 15rem;
}

@media (min-width: 992px) {
  #contactForm textarea {
    height: 15rem;
  }
}

#contactForm button {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem;
  width: 200px;
  background: #dd6d40;
  border-radius: 0.5rem;
  text-transform: uppercase;
  margin: 2rem auto;
  border: none;
  margin-bottom: 5rem;
}

@media (min-width: 992px) {
  #contactForm button {
    width: 200px;
  }
}

#contactForm button:hover {
  background: #c75223;
}

.additionalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 992px) {
  .additionalInfo {
    border-left: 0.1rem solid #171717;
  }
}

.additionalInfo .infoBox > p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.additionalInfo .cvBtn {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: #dd6d40;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
}

.additionalInfo .cvBtn:hover {
  background-color: #dd6d40;
}

.additionalInfo .socialLinks {
  display: flex;
  justify-content: center;
  width: 80%;
}

.additionalInfo .socialLinks h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #e1ff80;
}

.additionalInfo .socialLinks > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
  width: 25rem;
}

.additionalInfo .socialLinks > div i {
  font-size: 4rem;
}

.additionalInfo .socialLinks > div a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
}

.additionalInfo .socialLinks > div a:hover {
  color: #dd6d40;
  transition: 0.2s color ease-in-out;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.carousel button {
  width: 70px;
}

.carousel button span:last-of-type {
  border-radius: 50%;
  background-color: #1f1f1f;
  padding: 10px;
  height: 20px;
  width: 20px;
}

.carousel .carousel-inner {
  width: inherit;
  border-radius: 25px;
  height: 600px;
}

@media (min-width: 992px) {
  .carousel .carousel-inner {
    width: 90%;
    height: 100%;
  }
}

.carousel .carousel-item {
  height: 95%;
}
