//for base Scss
* {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background-color: $grey-200;
  background-image: radial-gradient(circle, $grey-100 0%, transparent 74%);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  color: $light-100;
}

main {
  section {
    width: 100%;
    margin: 0;
    @include tablet-landscape-up {
      @include flexbox(center, center, column);
    }

    .wrapper {

      background: $grey-350;
      width: 100vw;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin: 0;

      display: flex;
      justify-content: center;

      @include tablet-landscape-up {
        width: 79%;
        box-shadow: inset 5px 5px 6px 0px $grey-400;
        margin-bottom: 10rem;

        border-radius: 10px;
      }
    }
  }

  #projectSection {
    .wrapper {
      background: $grey-300;

      @include tablet-landscape-up {
        background: $grey-350;
      }
    }
  }
}
