

.brandTitle{
    @include font(2.4rem, 500, $primaryGreen);
    text-transform: uppercase;

     span {
         @include font(inherit, 700, inherit);
     }

}

#additionalInfo,
#skills,
#aboutSection,
#skillsSection,
#projectSection,
#contactSection{
    h2 {
        @include font(3rem, 700, $primaryGreen);
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin-bottom: 3rem;
    }
}


#aboutSection,
#skillsSection {
    
    h3 {

        @include font(1.8rem, 700, $secondaryGreen);
        text-transform: uppercase;
        margin-top: 2rem;
        text-align: center;

    }

    p{
        margin-bottom: 5rem;
        font-size: 1.8rem;
        color: $light-100;
        font-weight: 500;
        text-align: justify;

        @include tablet-portrait-up {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 2.4rem;
        }
    }  
}
.formLabel {
    @include font(1.6rem, 500, $light-200);
}



