#aboutSection {
  margin: 0;
  @include tablet-landscape-up {
    margin: 0 auto;
  }

  hr {
    display: none;

    @include tablet-landscape-up {
      width: 64%;
      height: 2px;
      color: $primaryGreen;
      position: relative;
      top: 0;
      margin: 0 0 3rem 0;
      border-radius: 50%;
      opacity: 0.75;
    }
  }

  #introduction,
  #skills {
    padding: 0 6rem;
    @include tablet-landscape-up {
      padding: 0 9rem;
    }
  }

  #introduction {
    @include desktop {
      border-right: 0.15rem solid $grey-400;
    }
  }

  #skills {


    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 4rem;
    }

    .future {
      color: $light-200;
    }

    .inProgress {
      color: $light-400;
    }

    .future {
      color: $grey-200;
    }
  }
}
