#contactForm {
  @include flexbox(space-between, flex-start, column);
  margin: 0 auto 5rem auto;
  width: 80%;

  border-bottom: 0.1rem solid $grey-500;

  @include lg-phone {
    width: 60%;
  }

  @include tablet-landscape-up {
    width: 75%;
    margin-bottom: 0;
    border: none;
  }
  @include desktop {
  }

  .nameEmail {
    @include flexbox(space-between, center, column);
    width: 100%;

    @include tablet-landscape-up {
      flex-direction: row;
      margin-bottom: 1rem;
    }
    .formDivider {
      display: inline-block;
      width: 100%;

      @include tablet-landscape-up {
        width: 45%;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    @include font(1.6rem, 700, $grey-350);
    padding: 1rem;
    width: 100%;
    margin: 0.5rem auto 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;

    transition: all 0.1s ease-in-out;

    &:focus {
      background-color: $lightestGreen;
      transition: all 0.1s ease-in-out;
    }
  }

  label {
    color: $secondaryGreen;
  }

  textarea {
    min-height: 15rem;
    max-height: 30rem;
    @include tablet-landscape-up {
      height: 15rem;
    }
  }

  button {
    @include font(2rem, 500, #fff);
    padding: 1rem;
    width: 200px;
    background: $offset;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin: 2rem auto;
    border: none;
    margin-bottom: 5rem;

    @include tablet-landscape-up {
      width: 200px;
    }

    &:hover {
      background: $offset1;
    }
  }
}

.additionalInfo {
  @include flexbox(space-evenly, center, column);
  text-align: center;

  @include tablet-landscape-up {
    border-left: 0.1rem solid $grey-500;
  }

  .infoBox {
    > p {
      @include font(1.8rem, 400, $light-200);
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  }
  .cvBtn {
    @include font(1.8rem, 500, #fff);
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: $offset;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    &:hover {
      background-color: $offset;
    }
  }

  .socialLinks {
    display: flex;
    justify-content: center;
    width: 80%;
    h3 {
      @include font(2rem, 500, $secondaryGreen);
    }

    > div {
      @include flexbox(center, center, row);
      text-align: left;
      width: 25rem;

      i {
        font-size: 4rem;
      }

      a {
        @include font(1.6rem, 400, $light-100);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $offset;
          transition: 0.2s color ease-in-out;
        }
      }
    }
  }
}
