
.carousel-item {
    .img {
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 15px;

        @include tablet-landscape-up{
            width: 50%;

        }

        
        
        &#img-1 {
            background-image: url("../media/projectOne.jpg");
        }
        @include tablet-landscape-up {
            height: 100%;
            display: inline-block;
    }
}

    .containerCarouselItem {
        background: $grey-400;
        margin: 0 20px;
        height: 100%;
        border-radius: 20px;
        padding: 15px;

        box-sizing: border-box;
        
        @include tablet-landscape-up {
            padding: 20px 40px;

        }

        .contentBox {
            display: inline-block;
            height: 100%;
            padding: 2px 15px;
            
            @include tablet-landscape-up {
                position: absolute;
                top: 0;
                margin-left: 10px;
                padding: 20px 30px 20px 10px;
                
            }
    
            a {
                @include font(1.6rem, 500, #fff);
                text-decoration: none;
                margin: 5px;
                display: inline-block;

                background: $offset;
                padding: 2px 5px;
                border-radius: 4px;

                &:hover {
                    color: $offset;
                    background: #fff;

                    transition: 0.25s all ease-in-out;

                }
    
            }
            h3 {
                @include font(1.8rem, 700, $secondaryGreen); 
                margin-top: 10px;

                @include tablet-landscape-up {
                    margin-top: 0;
                }
            }
    
            >p {
                @include font(1.6rem, 500, $light-100);
    
                &.mobileProjectDisc {
                    display: flex;
    
                    @include desktop {
                        display: none;
                    }
                }
    
                &.medPlusProjectDisc {
                    display: none;
                    @include desktop {
                        display: flex;
                    }
                }
            
            }
        }
    }

}

