//###################
//      Colours
//###################

// Dark Shades, mainly used for backgrounds and shadows

$grey-100: hsl(0, 0%, 40%);
$grey-200: hsl(0, 0%, 30%); //used as the primary background color
$grey-300: hsl(0, 0%, 18%); //used on navigation and box backgrounds
$grey-350: hsl(0, 0%, 15%);
$grey-400: hsl(0, 0%, 12%);
$grey-500: hsl(0, 0%, 9%);

//Light shades
$light-100: hsl(0, 0%, 80%); //main font colour
$light-200: hsl(0, 0%, 70%);
$light-300: hsl(0, 0%, 60%);
$light-400: hsl(0, 0%, 50%);

//colors

$primaryGreen: hsl(74, 100%, 50%);
$secondaryGreen: hsl(74, 100%, 75%);
$lightestGreen: hsl(74, 100%, 90%);

$offset-1: hsl(17, 70%, 60%);
$offset: hsl(17, 70%, 56%);
$offset1: hsl(17, 70%, 46%);
$offset2: hsl(17, 70%, 36%);
